* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}
#navbar {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 22px;
    display: flex;
    justify-content: flex-end;
    background-color: #be3144;
    box-shadow: 0px 3px 5px 0 #000000;
    /* border: 1px solid black; */
}
.nav-anchors {
    color: #f0f0f0;
    padding: 22px;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    line-height: 30px;
    /* border: 1px solid black; */
}
.nav-anchors:hover {
    background-color: #45567d;
}
#main {
    /* margin-top: 73px; */
}
#welcome-section {
    /* margin-top: 73px; */
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}
#header {
    color: #f0f0f0;
    font-family: Raleway, sans-serif;
    font-size: 60px;
    line-height: 84px;
}
#sub-header {
    color: #be3144;
    font-size: 30px;
    line-height: 44px;
    font-family: Poppins, sans-serif;
    font-weight: 200;
    font-style: italic;
}
#projects {
    height: auto;
    background-color: #45567d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#project-header {
    color: #f0f0f0;
    font-size: 42px;
    line-height: 59px;
    padding: 0 15px;
    margin-top: 20vh;
    font-family: Raleway, sans-serif;
    border-bottom: 2px solid #f0f0f0;
}
#project-body {
    margin-top: 10vh;
    padding: 20px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-conten: space-between;
    /* align-items: center; */
}
.project-tile {
    /* border: 1px solid red; */
    margin: auto;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
}
.project-tile:hover .tag{
    visibility: visible;
}
.project-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.project-title {
    background-color: #303841;
    color: #f0f0f0;
    font-size: 20px;
    line-height: 28px;
    font-family: Poppins, sans-serif;
    text-align: center;
    padding: 15px;
}
.tag {
    color: #ff7f50;
    visibility: hidden;
}
#project-all {
    margin-bottom: 5vh;
}
#show-all {
    /* display: block; */
    border: none;
    padding: 10px 25px;
    border-radius: 2px;
    background-color: #303841;
    color: #f0f0f0;
    font-size: 20px;
    line-height: 28px;
    font-family: Poppins, sans-serif;
}
#show-all:hover {
    /* transform: scale(1.5); */
    animation-name: button;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}
@keyframes button {
    100% {
        background-color: #be3144;
    }
}
#show-all:hover .icon {
    animation-name: slide;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}
@keyframes slide {
    to {
        margin-left: 5px;
    }
}
#contacts {
    height: 85vh;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#contacts-header {
    margin-top: 30vh;
    text-align: center;
    /* margin: 50px; */
}
#contact-header {
    color: #f0f0f0;
    font-size: 60px;
    line-height: 84px;
    font-weight:900;
    font-family: Raleway, sans-serif;
}
#contact-subheader {
    color: #f0f0f0;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    font-weight: 200;
    font-family: Poppins, sans-serif;
}
#profile-div {
    /* border: 1px solid yellow; */
    min-width: 900px;
    display: flex;
    padding: 20px;
    margin-top: 5vh;

}
.link-div {
    color: #f0f0f0;
    font-family: Poppins, sans-serif;
    font-size: 24px;text-shadow: 2px 2px 1px #1f1f1f;
    line-height: 34px;
    padding: 10px;
    margin: 10px;
}
.link-icon {
    margin-right: 7px;
}
.links:hover {
    transform: translateY(10px);
    transition: transform 0.3s ease-out;
}
#footer {
    border-top: 4px solid #be3144;
    height: 15vh;
    background-color: #303841;
    display: flex;
    justify-content: space-evenly;
}
.footer-text {
    margin: auto;
    color: #f0f0f0;
    font-size: 18px;
    line-height: 24px; 
    font-family: Poppins, sans-serif;
}
.footer-link {
    text-decoration: none;
    color: #f0f0f0;
}

@media (max-width: 490px) {
    #navbar {
        justify-content: space-evenly;
        padding: 15px;
    }
    .nav-anchors {
        padding: 15px;
    }
    #header {
        font-size: 40px;
        line-height: 42px;
    }
    #sub-header {
        font-size: 20px;
        line-height: 22px;
    }
    #projects {
        /* margin-top: 100vh; */
        height: auto;
    }
    #project-header {
        padding: 0%;
        margin: 10px;
        margin-top: 15vh;
        font-size: 20px;
        line-height: 24px;
    }
    #project-body {
        padding: 0%;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-tile {
        padding: 0%;
    }
    .project-title {
        width: 320px;
        padding: 8px;
    }
    .project-img {
        width: 320px;
        height: 320px;
    }
    #project-all {
        margin: 5vh;
    }
    #contacts {
        height: 80vh;
    }
    #contacts-header {
        margin-top: 15vh;
    }
    #contact-header {
        font-size: 30px;
        line-height: 42px;
        font-weight: 900;
    }
    #contact-subheader {
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
    }
    #profile-div {
        flex-direction: column;
        margin: auto;
        align-items: flex-start;
        padding-left: 0%;
    }
    .links {
        margin: 10px;
    }
    .link-icon {
        margin-right: 10px;
    }
    #footer {
        padding: 10px;
        flex-direction: column;
        height: 20vh;
        justify-content: space-around;
    }
    .footer-text {
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 998px) {
    #projects {
        height: auto;
    }
    #project-header {
        padding: 0%;
        margin-top: 15vh;
    }
    .project-tile {
        margin: auto;
    }
    #project-body {
        margin-top: 5vh;
    }
    .project-tile {
        margin: 25px;
    }
    #project-all {
        margin-bottom: 5vh;
    }
    #contacts-header {
        margin-top: 20vh;
    }
    #contact-subheader {
        margin-top: 10px;
    }
    #profile-div {
        min-width: 0%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0%;
    }
    .links {
        margin: 5px;
    }
    .link-icon {
        margin-right: 10px;
    }
    #footer {
        padding: 10px;
        flex-direction: column;
        height: 15vh;
        justify-content: space-around;
    }
}